.card {
  width: 200px;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

img {
  width: 100%;
}

.cardsList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

* {
  font-family: 'Sriracha', cursive;
}